@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

$white: #D8D8D8;
$cubic: cubic-bezier(.55,0,.1,1);


body {
  background: #111;
  color: $white;
}

* {
  & li {
    list-style: none;
  }
  & a {
    text-decoration: none;
    color: $white
  }
}


.menuContainer {
  display: block;
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.menu {
  width: 150px;
  height: 150px;
  display: block;
  position: relative;
  margin: 0px auto;
  background: $white;
  border-radius: 100%;
  border: 1px solid $white;
  cursor: pointer;
  z-index: 10;
  & ul {
    padding: 0;
    width: 100%;
    display: none;
    position: relative;
    text-align: center;
    top: 35px;
    & li {
      display: inline-block;
      position: relative;
      font-family: Inconsolata;
      font-size: 25px;
      margin-right: 25px;
      box-sizing: border-box;
      width: 125px;
      letter-spacing: 3px;
      text-align: center;
      line-height: 50px;
      &:active{
        text-transform: uppercase;
      }
      &:last-child {
        margin-right: 0;
      }&:hover {
        background: $white;
        & a {
          color: #000;
        }
      }
    }
  }
}

.menuTitle {
  line-height: 150px;
  width: 150px;
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 8px;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 150px;
  z-index: 11;
  padding-left: 10px;
  font-family: Inconsolata;
  cursor: pointer;
  -webkit-user-select: none;
}
}
