@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;

}
.intro{
	height: 100%;
	width: 100%;
	background: url('img/background.jpg') no-repeat 50% 50%;
	background-size: cover;
	display: table;
	top: 0;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 145%;
	font-weight: 400;
	color: #3a6168;
	text-decoration: none;
	text-transform: uppercase;
	border: solid #3a6168;
	padding: 10px 20px;
	border-radius: 9px;
	transition: all 0.5s;
	position: relative;
	z-index: 2;
}

.btn:hover{
	color: #cbdfd6;
	border: solid #cbdfd6;
}
.parallax-window {
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 1px;
    margin: 0px;
    
}
